@addTagHelper *, Microsoft.AspNetCore.MVC.TagHelpers

<form asp-action="Create" method="post">
    <input type="text" name="Name" placeholder="Name" />
    <br />
    <input type="number" name="Quantity" placeholder="Quantity" />
    <br />
    <button>Add</button>
</form>
